streamlit
google-cloud-storage
google-cloud-firestore
ffmpeg-python
opencv-python-headless
torch
Pillow
openai-whisper
moviepy
streamlit-drawable-canvas
google-generativeai
numpy
transformers
tensorflow
matplotlib
scikit-learn
librosa
